@charset "utf-8";
/* CSS Document */
body{
	font-family:'AvenirNextLTPro-Medium', Arial;
	font-size: 14px;
	text-align: justify;
	padding:20px;	
	margin:0;
}
@font-face {
	font-family: AvenirNextLTPro-Medium;
	src: url("../fonts/AvenirNextLTPro-Medium.otf")
}
@font-face {
	font-family: AvenirNextLTPro-Bold;
	src: url("../fonts/AvenirNextLTPro-Bold.otf")
}

.smallpara a {
    color: #94741B;
}
.smallpara {
    line-height: 17px;
    padding: 0 0 10px;
    margin: 0px;
    color: #898989;
    font-family:'AvenirNextLTPro-Medium', Arial;
    font-size: 14px;
    text-align: justify;
}

}


