﻿@media only screen and (min-device-width: 320px) and (max-device-width: 320px) {
    .para {
        line-height: 14px;
        font-size: 12px;
    }
    .paratitle {
        line-height: 18px;
        font-size: 15px;
    }
    .smallpara {
        line-height: 12px;
        font-size: 11px;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
.para {
	line-height: 18px;
	font-size: 15px;
}
.paratitle {
	line-height: 22px;
	font-size: 17px;
}
.smallpara {
    line-height: 14px;
    font-size: 11px;
}
}
 @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
.para {
	line-height: 20px;
	font-size: 16px;
}
.paratitle {
	line-height: 24px;
	font-size: 20px;
}
.smallpara {
    line-height: 16px;
    font-size: 14px;
}
}
